@charset "UTF-8";

column {
	text-align: center;
}

outputLabel {
	text-align: center;
}

facet{
	display: flex;
	justify-content: center;
}

#panelX {
	justify-content: center; 
	font-size:60px; 
	position:relative; 
	text-align: center; 
	width: 90%; 
	height: 70%;
}


div#btnGoHome {
	display: flex; 
	justify-content: center; 
	margin-bottom: 25px
}